.primary_action_button, .secondary_action_button, .action_button{
    background-color: aqua;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s, color 0.25s;
    border: 2px solid;
    margin: 5px;
}

.primary_action_button{
    background-color: var(--theme-red);
    border-color: var(--theme-red);
    color: white;
}

.primary_action_button:hover, .secondary_action_button:hover, .action_button:hover{
    background-color: gray;
    color: lightgray;
    border-color: gray;
}

.secondary_action_button{
    border-color: var(--theme-red);
    background-color: white;
    color: var(--theme-red);
}

.hero_button_container{
    display: flex;
    justify-content: center;
}