:root{
    --theme-black: #343131;
    --theme-red: #742414;
    --theme-yellow: #ffc404;
    --theme-gold: #ffb300;
}

@font-face {
    font-family: bahnschrift;
    src: url(/assets/bahnschrtift.TTF);
}

body{
    margin: 0;
    font-family: "Inter", sans-serif;
    /* font-family: ; */
    font-weight: 400;
    font-style: normal;
    color: var(--theme-black);
    min-height: 100%;
}

.footer{
    /* position: absolute; */
    /* bottom: 10px; */
    /* width: 100%; */
}

.desktop_nav_bar{
    height: 5rem;
    width: 90%;
    padding: 0.75rem 5%;
    justify-content: space-between;
    position: fixed;
    background-color: var(--theme-yellow);
    z-index: 2;
}

.desktop .desktop_nav_bar, .desktop .desktop_nav_spacing{
    display: flex;
}

.mobile .desktop_nav_bar, .mobile .desktop_nav_spacing{
    display: none;
}

.desktop_nav_spacing{
    height: 6.5rem;
}

.desktop_nav_elements{
    width: calc(100% - 5rem);
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

.desktop_nav_element{
    width: 10rem;
    /* max-width: 100%; */
    background-color: white;
    border: 3px solid transparent;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.25rem;
    margin: 0.5rem;
    border-radius: 10px;
    transition: background-color 0.25s, color 0.25s, border-color 0.25s;
    background-color: var(--theme-yellow);
    color: var(--theme-red);
}

.desktop_nav_element:hover{
    background-color: var(--theme-red);
    color: var(--theme-yellow);
}

.desktop_nav_logo{
    height: 5rem;
}

.desktop_nav_logo img{
    /* max-width: 100%; */
    max-height: 100%;
}

.desktop_nav_element:not(:last-child){
    /* text-decoration: underline; */
    /* border-right: 10px solid black; */
}

.mobile_nav_list{
    display: none;
    background-color: white;
    color: black;
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    /* padding-top: min(8rem, 24vw); */
    /* transition: display 1s; */
    z-index: 3;
    flex-direction: column;
    font-size: min(4rem, 12vw);
    align-items: center;
    /* justify-content: center; */
    overflow: scroll;
    padding: 2rem 0;
    pointer-events: all;
}

body.noScroll{
    overflow: hidden;
}

.mobile_nav_container{
    display: flex;
    position: fixed;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

.noScroll .mobile_nav_container{
    background-color: white;

}

.mobile_nav_item{
    border: 4px solid white;
    background-color: white;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    color: var(--theme-red);
    transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}

.mobile_nav_item:hover{
    color: var(--theme-red);
    border-color: var(--theme-red);
    background-color: var(--theme-red);
    color: white;
}

.mobile_nav_divider{
    border-bottom: 5px dashed var(--theme-red);
    width: 50%;
    justify-self: center;
}

.mobile_nav_spacing{
    height: min(8rem, 24vw);
}

.desktop .mobile_nav_spacing, .desktop .mobile_nav_buttons{
    display: none;
}

.mobile_nav_buttons{
    display: flex;
    justify-content: space-between;
    height: min(8rem, 24vw);
/*     
    position: fixed; */
    background-color: var(--theme-yellow);
    width: 100%;
    z-index: 3;
    pointer-events: all;

}

.mobile_nav_button{
    width: min(8rem, 24vw);
    aspect-ratio: 1;
    text-align: center;
    display: flex;
    align-items: center;
}

.mobile_logo{
    width: 100%;
    object-fit: contain;
    height: fit-content;
}


.site_body{
    width: 80%;
    /* background-color: blue; */
    /* min-height: 100px; */
    margin: 0 auto;
}

.spacing{
    height: 5rem;
}

.center_text{
    text-align: center;
}

.sponsors{
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sponsor{
    aspect-ratio: 1;
    max-height: 100%;
    display: flex;
    margin: 0 5%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    justify-content: center;
}

.sponsor:first-of-type{
    margin-left: 0;
}

.sponsor:last-of-type{
    margin-right: 0;
}

.sponsors img{
    max-height: 100%;
    max-width: 100%;

    object-fit: contain;
}


.desktop .section_about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.mobile .section_about{
    display: flex;
    flex-direction: column;
}

.fit_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top_image{
    width: 100%;
    height: 25rem;
    /* object-fit: cover; */
    position: relative;
    z-index: 1;
}

.business_title{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    /* font-weight: bold; */
    font-family: bahnschrift;
}

div.phone_number{
    width: 100%;
    background-color: var(--theme-red);
    color: white;
    font-size: 2rem;
    padding: 1rem 0;
}

div.phone_number a{
    color: white;
}

div.phone_number a:hover{
}

.business_title div{
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    padding: 0.5rem;
    width: fit-content;
}

.business_title_gca{
    font-size: min(3rem, 7.5vw);
}
.business_title_mow{
    margin-top: 0.5rem;
    font-size: min(4rem, 10vw);
}

.top_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_heading{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

p{
    font-size: 1.75rem;
    margin-top: 0;
}

.contact_form{
    /* width: min(50rem, 80%); */
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 1fr 1.5fr; */
}

.mobile .contact_form{
    flex-direction: column;
}

.contact_form_column{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.mobile .contact_form_column{
    width: 100%;
}

.desktop .contact_form_item:first-of-type{
    margin-top: 0;
}

.desktop .contact_form_item:last-of-type{
    margin-bottom: 0;
}

.contact_form_item{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.contact_form_item_label{
    font-size: 2rem;
    width: 100%;
}

.contact_form_item textarea{
    resize: none;
}

.contact_form_address{
    height: 10rem;
}

.contact_form_message_notes{
    height: 15rem;
}

.submit_button{
    font-size: 2rem;
    padding: 1rem 0;
    width: 80%;
    border: 1.5px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--theme-red);
    color: white;
    border: 0;
    transition: background-color 0.25s, color 0.25s;
}

.submit_button:hover{
    background-color: gray;
    color: lightgray;
}

.contact_form_item_input{
    font-size: 1.5rem;
    width: calc(100% - 10px - 3px);
    padding: 5px;
    border: 1.5px solid black;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    border-color: var(--theme-black);
}

.desktop .top_image{
    /* filter: grayscale(); */
}



a{
    text-decoration: none;
}

a:visited{
    /* height: 100%; */
    /* display: block;
    color: */
    text-decoration: overline;
}

.siteWarningContainer{
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
    background-color: var(--theme-yellow);
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.warningSymbol{
    width: 5rem;
    margin-right: 2rem;
}

.mobile .siteWarningContainer{
    flex-direction: column;
    justify-content: center;
}

.mobile .warningSymbol{
    width: 5rem;
    margin: 0 auto 2rem;
}

.hideSiteWarning{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;

}

.showSiteWarning{
    position: fixed;
    bottom: 10px;
    left: 0;
    height: 4rem;
    padding: 1rem;
    padding-right: 0;
    background-color: var(--theme-yellow);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    cursor: pointer;
    z-index: 4;
    display: none;
}

.showSiteWarningIMG{
    height: 100%;
    margin: 0 1rem;
}

.hideSiteWarningIMG{
    width: 2rem;
    padding: 1rem;
}

.holy_trinity{
    border-radius: 100%;
    height: 6rem;
    width: 6rem;
    margin-bottom: 1rem;
}

.holy_trinity_text{
    transform: scaleX(0.9);
}